/* loader */
.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 12em;
  height: 1em;
  border-radius: 8px;
  background-color: var(--main);
}

.loader div {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: #bb0038;
  animation: width7435 1.9s linear infinite;
  transition: all;
}

@keyframes width7435 {
  from {
    /*width: 0;*/
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
