.CardItem {
  height: 100%;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-top: 100px;
}
.img-info {
  height: 400px;
}
.right-info {
  width: 30%;
  height: 600px;
  gap: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.card-info-title {
  font-size: 40px;
}
@media screen and (max-width: 740px) {
  .CardItem {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .right-info {
    width: 300px;
    height: 600px;
    gap: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-info {
    height: 260px;
  }
}
.terminar {
  height:40px ;
  width: 140px;
  background-color: var(--main);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0eaea;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.terminar:hover {
  background-color: #bb0038;
}
