.cart-widget {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: var(--text-color);
}
.cart-widget img {
  height: 30px;
}
.cart-widget span {
  font-size: 20px;
  font-weight: 600;
  padding: 2px;
}
