.cart-widget {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: var(--text-color);


  font-weight: 600;

}
.cart-widget img {
  height: 30px;
}
