.item-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;


}
@media (max-width: 1098px) {
  .item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 740px) {
  .item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    

  }
}

.banner {
  padding: 8px 20px 20px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 82%;
}