.item-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 margin-top: 78px;
}
@media (max-width: 1098px) {
  .item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin-bottom: 30px;
  }
}
@media (max-width: 740px) {
  .item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

  }
}
