

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans:wght@200;300;400;600;700&family=Heebo:wght@200;300;500;700&family=Inconsolata:wght@300;600;700&family=Martian+Mono:wght@100;300;700&family=Work+Sans:wght@300;600;800&display=swap');

:root {
  --main: #FF004B;
  --background-color:#f0eaea;
  --text-color:#1f1e1e;
}

.dark{
  --background-color:#1f1e1e;
  --text-color:#f0eaea;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 150vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Anton', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Martian Mono', monospace;
font-family: 'Work Sans', sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;

}


/* navbar */


header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-color);
  padding: 28px 12%;
  transition: all .50s ease;
}
a{
  text-decoration: none;
}
.logo h1 {
  font-size: 20px;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease-out;
} 
.logo h1:hover{
  color: var(--main);
}



.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.navbar a {
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 600;
  padding: 5px 0;
  margin: 0 12px;
  transition: all .50s ease;
  text-decoration: none;
}
.right {
width: 100px;
display: flex;
align-items: center;
gap: 12px;
}
#menu-icon img {
  height: 35px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
@media (max-width:1280px) {
  header {
    padding: 14px 2%;
    transition: .2s;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0 20px;
  }
}
@media (max-width:1090px){
  #menu-icon img{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    height: 29vh;
    background-color: var(--main);
    flex-direction: column;
    border-radius: 10px;
    transition: all .50s ease;
    gap: 28px;
  }
 
  .navbar a{
    font-size: 20px;
    font-weight: 600;
  }
  .navbar.open {
    right: 0%;
  }
}

/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow:
  0px 7px 38px rgba(0, 0, 0, 0.02)
;
z-index: 1000;

}
nav a img {
  height: 120px;
} */

.cart-widget {
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 18px;
 font-weight: 500;
 cursor: pointer;

}
.cart-widget img {
  height: 30px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 40px;
}
ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  padding: 6px auto;
  cursor: pointer;
}


ul li {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  }
  ul li:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -100%;
  width: 100%;
  height: 4px;
  background: var(--main);
  transition: left .6s;
  }
  ul li:hover:after {
  left: 0;
  }

@media screen and (min-width:768px) {
  ul li {
    font-size: 20px;

  }
}


/*item counter */

.counter {
  height: 90px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

}
.controls{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-counter {
  height: 24px;
  width: 24px;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--main);
  border: none;
 border-radius: 4px;
 color: #f0eaea;
 cursor: pointer;
}
.button-counter:hover {
  background-color: #bb0038;
}


.button {
  position: relative;
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #FF004B;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(103px);
  height: 100%;
  width: 39px;
  background-color: #bb0038;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.button img {
  width: 30px;
  color: #fff;
}

.button:hover {
  background: #bb0038;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #bb0038;
}

.button:active {
  border: 1px solid #bb0038;
}
.number-counter {
  font-size: 20px;
  font-weight:600;
}


/* product card */
.item-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
gap: 40px;
height: 100vh;
margin-top: 350px;
}

.listGroup {
  max-width: 2000px;
  height: auto;
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 12px;
grid-row-gap: 12px;

}
@media (max-width:900px){
  .listGroup {
    max-width: 2000px;
    height: auto;
    display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  }

  .item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  gap: 40px;
  margin-top: 200px;
margin-bottom: 30px;
  }
}
@media (max-width:618px){
  .listGroup {
    height: auto;
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  }
  .item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  gap: 40px;
  margin-top: 800px;
  }
}


.itemDetaliContainer {
  width: 100%;
  height: 600px;
  transition: all .2s ease-in-out;
  box-shadow: 3px 4px 12px 1px rgba(0,0,0,0.3);

}
.CardItem{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.img-info {
height: 450px;
overflow: auto;
}
.right-info {
  width: 40%;
  height: 600px;
  gap: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* card */
.items-container {
	width: 95vw;
	overflow-x: hidden;
	margin: 0 auto;
	margin-top: 20px;
}

.item {
	display: inline-block;
	position: relative;
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 20px;
	width: 300px;
	height: 425px;
	border-radius: 3px;
	box-shadow: 3px 4px 12px 1px rgba(0,0,0,0.3);
}

.item-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.diamond-container {
	position: absolute;
	margin-top: -20px;
	margin-left: -20px;
	transition: all 0.3s ease-out;
}

.diamond {
	margin-left: 10px;
	margin-top: 10px;
	width: 65px;
	height: 65px;
	background: var(--main);
	overflow: hidden;
	color: #fff;
	font-weight: 600;
	font-size: 1.em;
	letter-spacing: -0.5px;
	transform: rotate(45deg);
	transition: all 0.3s ease-out;
}

.diamond-wrapper {
	margin-top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.diamond-content {
	transform: rotate(-45deg);
}

.content-wrapper {
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
	transition: all 0.3s ease-out;
}

.img-container {
	position: relative;
	width: 100%;
	min-height: 200px;
	margin-top: 80px;
}

.bg-square {
	position: absolute;
	width: 135px;
	height: 130px;
	border: 12px solid rgba(51,51,51,0.1);
	margin: 0 auto;
	left: 0;
	right: 0;
}

.item-img {
	position: absolute;
	display: block;
	height: 220px;
	margin: 0 auto;
	margin-top: -20px;
	left: 0;
	right: 0;
}

.content-text {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.item-name {
	font-weight: 400;
	font-size: 1.35em;
	text-transform: uppercase;
	text-align: center;
}

.view-more-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #333;
	color: #fff;
	font-size: 0.85em;
  font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	word-spacing: 3px;
	text-align: center;
	padding-top: 20px;
	user-select: none !important;
	cursor: pointer;
	z-index: 100;
	transition: all 0.3s ease-out;
}
.view-more-btn:hover{
  background-color: var(--main);
}

/* loader */
.loader {
  width: 12em;
  height: 1em;
  border-radius: 8px;
  background-color: var(--main);
}

.loader div {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: #bb0038;
  animation: width7435 1.9s linear infinite;
  transition: all;
}

@keyframes width7435 {
  from {
    /*width: 0;*/
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.div-dark {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}





